.header{
    float: left
}
.nav-header{
    float: right;
}
.banner{
    background-color: #FFF9F4;
}
.banner img{
    
    width: 100%;
}
.row img{
    width: 100%;
}
.penguin-card{
    border: 0;
}
.penguin-card-footer{
    background-color: white;
    border: 0;
}
.card-image{
    background-color: #F1F1F1;
    border-radius: 10px;
    padding: 4px;
    
}
.card-image img{
    width: 80%;
    height: 80%;
    
   
}
.banner-heading, .price {
    color: #FA804C;
}
